*,body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#home {
    background-color: #342E37;
    height: 100vh;
}

.navbar {
    top:0; 
    position: fixed;
    width: 100vw;
    z-index: 150;
    background-color: #342E37;
}

.navbar ul {
    max-width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
    overflow: hidden;
}
  
.navbar li {
    float: right;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.navbar li a:hover{
    background-color: plum;
    border-radius: 10px;
    color: black;
    padding: 10px 25px;
    transition: 0.8s ease-in-out;
}

.intro {
    max-width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    color:white;
    gap: 30px;
    transform: translateX(20%);
}

.profile-image {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.profile-image img {
    height: auto;
    width: 350px;
    display: block;
}

@media screen and (max-width:900px) {

    .profile-image {
        margin-top: 100px;
        transform: translateX(2%);
    }

    .profile-image img {
        height: auto;
        max-width: 100%;
    }
    .summary {
        width: 85vw;
    }
    .summary h1, h2 {
        font-size: 4px;
        text-align: center;
    }
    .summary span {
        font-size: 7px;
    }
    .summary p {
        font-size: 4px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.summary h1, h2 {
    padding-bottom: 20px;
    font-size: 35px;
}

.summary span {
    font-size: 45px;
    color: plum;
}

.summary p {
    padding: 0px auto;
    text-align: justify;
    font-size: 23px;
}

@media screen and (max-width: 900px) {
    #home {
        height: auto;
        padding-bottom: 50px;
    }
    .intro, .row {
      flex-direction: column;
      justify-content: space-evenly;
      gap: 0px;
    }
}

#about {
    background-color: #aea4bf;
    padding: 100px 0;
}

#projects {
    background-color: #e3e4db;
    padding: 100px 0;
}

@media screen and (max-width: 900px) {
    .container {
        width: 100vw;
        height: auto;
    }
    .row {
        width: 100%;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .column {
        width: 100%;
        text-wrap:balance;
        flex-grow: 1;
    }
}

.container {
    height: auto;
    width: 75%;
    margin: 0 auto;
    color: black;
}

.section-name > h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 45px;
}

.container > h2 {
    padding: 10px 25px;
    background-color: plum;
    font-style: oblique;
    margin: 20px 0;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.row a {
    text-decoration: none;
    color: black;
}

.column {
    align-self: start;
    width: 50%;
    padding: 30px;
    margin: 0px 12px;
    border: 0.5px solid black;
    border-radius: 20px;
    line-height: 25px;
    box-shadow: 5px 10px #342E37;
    background-color: white;
}

.column:hover {
    cursor: pointer;
    box-shadow: 10px 15px #342E37;
    transition: 0.5s ease;
}

.column .gradyear {
    font-size: 15px; 
    font-style: italic;
    margin-bottom: 7px;
}

#projects a:link, a:visited {
    color: purple;
    text-decoration: none;
}

#projects a:hover {
    color: plum;
    text-decoration: underline;
}

#contact {
    background-color: black;
    padding: 100px 0;
    text-align: center;
}

.contact {
    color: white;
    font-size: 20px;
    line-height: 40px;
}

.contact a {
    font-size: 35px;
    margin: 10px 15px;
    text-decoration: none;
    color: white;
}

.contact a:hover {
    color: plum;
    transition: 0.5s ease;
}

.footer {
    background-color: #342E37;
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.footer p {
    font-size: 18px;
    color: white;
    text-align: center;
}
